#text_01,
#text_02,
#text_03 {
  font-size: 80px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  line-height: 0.8;
  padding-top: 0.3em;
  position: relative;
}
